*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
}

button,
input{
	outline: 0;
}

.header{
	height: 6.5rem;
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.header__insert,
.main-page{
	margin: 0 auto;
	width: 73.688rem;
}

.header__insert:after{
	content: "";
	display: block;
	clear: both;
}

.logo{
	width: 9.063rem;
	height: 3.75rem;
	float: left;
	margin: 1.375rem 0 0;
}

.nav-menu{
	list-style: none;
	float: right;
	margin: 2.688rem 0 0;
	
}

.nav-menu__item{
	display: inline-block;
	font-size: 1.125rem;
	color: #adafb2;
}

.nav-menu__item:not(:first-child){
	margin: 0 0 0 2.563rem;
}

.nav-menu__item_active{
	 color: #ed1b2f;
}

.main-page{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
	padding: 2.875rem 3.931rem 3.938rem;
	background: white;
	margin-top: 3.188rem;
	margin-bottom: 6.106rem;
}

.h1{
	font-size: 1.375rem;
	color: #32393d;	
}

.main-page_header{
	float: left;
}

.form-search{
	float: right;
}

.form-search__field-search{
	width: 14rem;
	height: 2rem;
	border-radius: 3.125rem;
	border: solid 1px #d9d9d9;
	font-size: 0.875rem;
	color: #c3c3c3;
	padding: 0.5rem 1.125rem;
	background: url("../images/loupe.svg") no-repeat 12.063rem center;
}

.application-package:before{
	content: "";
	display: block;
	height: 0.0625rem;
	background-color: #d8d8d8;
	margin: 0 0 1.625rem;
}

.application-package{
	clear: both;
	margin: 3.188rem 0 0;
}

.application-package__package{
	display: inline-block;
	margin-right: -0.25rem;
}

.application-package__package:not(:first-child){
	margin-left: 2.131rem;
}

.application-package__image{
	width: 20.5rem;
	height: 12.313rem;
}

.application-package__header{
	margin: 1.063rem 0 0;
	font-size: 1.25rem;
	color: #32393d;
}

.application-package__date{
	font-size: 1rem;
	color: #adafb2;
	margin-top: 0.344rem;
}

.applications{
	margin-top: 3.994rem;
	display: inline-block;
	width: 30.3rem;
	vertical-align: top;
}

.applications_margin-left{
	margin-left: 2.619rem;
}

.application-package__title_two{
	float: none;
}

.application-package__title_two:after{
	content: "";
	display: inline-block;
	width: 0.5rem;
  	height: 0.813rem;
	background: url("../images/expand.svg") no-repeat 0 0;
	float: right;
	margin-right: 0.438rem;
}

.types-of-applications{
	margin-top: 1.2rem;
	width: inherit;
}

.types-of-applications:before{
	content: "";
	display: block;
	width: 30.3rem;
	height: 1px;
  	background-color: #d8d8d8;
  	margin-bottom: 2.806rem;
}

.types-of-applications__type:before{
	content: "";
	display: inline-block;
	width: 1.313rem;
	height: 0.938rem;
	vertical-align: top;
}

.types-of-applications__type_work-icon{
	background: url("../images/work-icon.svg") no-repeat 0 0;
}

.types-of-applications__type_education-icon{
	background: url("../images/education-icon.svg") no-repeat 0 0;
}

.types-of-applications__type:not(:first-child){
	margin-top: 1.794rem;
}

.types-of-applications__type{
	font-size: 1.25rem;
	color: #4d5762;
}

.types-of-applications__number{
	color: #adafb2;
	line-height: 1.5;
}

.types-of-applications__number_warning{
	color: #ed1b2f;
}

.types-of-applications__text{
	display: inline-block;
	margin-left: 1.063rem;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

/*

categories.html

*/

.wrapper-categories-tovar{
	width: 73.281em;
	margin: 0 auto;
	margin-top: 3.163rem;
	overflow: hidden;
}

.product-applications{
	float: left;
	width: 23.375rem;
	background: white;
	padding: 2.688rem 1.875rem 0 1.063rem;
	margin-bottom: -20000px;
	padding-bottom: 20000px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.product-applications__header{
	margin-left: 0.563rem;
	color: #32393d;
	font-size: 1.5rem;
}

.product-applications__header:after{
	content: "";
	display: block;
	height: 1px;
	background-color: #d8d8d8;
	width: 20.063rem;
	margin-top: 1.069rem;

}

.product-applications__menu{
	margin: 1.381rem 0 0 1.563rem;
	list-style: disc;
	line-height: 2;
	font-size: 1.25rem;
	color: #79878e;

}

.product-applications__menu a:hover{
	color: red;
	text-decoration: underline;
}

.product-applications__link_active{
	color: #f13843;
	text-decoration: underline;
}

.content{
	width: 48.281rem;
	float: right;
	background: white;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
	padding: 2.875rem 0;
}

.content__header{
	margin-left: 2.575rem;
}

.table-tovar{
	margin-top: 1.206rem;
	width: 48.32rem;
	border-collapse: collapse;
}

.table-tovar__string-headers{
	height: 2.188rem;
	background-color: #f1f1f1;	
}

.table-tovar__header{
	/*border: 1px solid black;*/
	font-size: 0.875rem;
	color: #414141;
	text-align: left;
	font-weight: normal;
}

.table-tovar__header:first-child{
	padding-left: 8.563rem; 
}

.table-tovar__string-cells{
	height: 5.063rem;
	padding: 0.625rem 0 0.625rem 2.188rem;
}

.table-tovar__string-cells:nth-child(2n+3){
	background-color: #f7f7f7;
}
/*.table-tovar__cell{
	border: 1px solid black;
}
*/
.table-tovar__image{
	width: 5rem;
	height: 3.75rem;

}

.table-tovar__time{
	font-size: 0.813rem;
	display: block;
	color: #adafb2;
}

.table-tovar__cell:first-child{
	width: 8.563rem;
	padding: 0 1.331rem 0 2.188rem;
	line-height: 0;
}

.table-tovar__cell:nth-child(2){
	width: 13rem;
	font-size: 1rem;
	color: #79878e;
}

.table-tovar__cell:nth-child(3){
	width: 14.25rem;
	font-size: 0.813rem;
	color: #5f5f5f;
}

.table-tovar__header:nth-child(3),
.table-tovar__cell:nth-child(4){
	text-align: left;
	padding: 0 0 0 5.875rem;
}

.table-tovar__cell:nth-child(4){
	font-size: 1.125rem;
	color: #5f5f5f;
}

.content_tovar-padding{
	padding-left: 2.125rem;
	padding-right: 2.575rem;
}

.content__header_tovar-margin{
	margin: 0 0 0 0.45rem;
}

.content__header_tovar-margin:after{
	content: "";
	display: block;
	width: 43.125rem;
	height: 1px;
	background-color: #d8d8d8;
	margin-top: 1.138rem;
}

.description{
	float: left;
	width: 24.563rem;
}

.date-published{
	display: block;
	margin-top: 1.443rem;
	font-size: 1rem;
	color: #adafb2;
}

.description-text{
	margin-top: 0.863rem;
	font-size: 1.25rem;
	color: #79878e;
	 line-height: 1.25;

}

.requirement{
	margin-top: 1rem;
}

.block-image-tovar{
	float: right;
	margin-top: 1.506rem;
	width: 15.688rem;
}

.image-tovar__image{
	width: 15.688rem;
	height: 11.76975rem;
	display: block;
}

.button-in-basket{
	display: block;
	height: 3rem;
	width: 13.938rem;
	margin: 1.175rem auto 0 auto;
	text-align: center;
	font-size: 1.25rem;
	color: #ed1b2f;
	border: solid 1px #ed1b2f;
	border-radius: 1.5rem;
	outline: 0;
	background: white;
	padding-top: 0.688rem;
}

.button-in-basket:hover{
	background: #ed1b2f;
	color: white;
}

.content__header_tovar-margin-two{
	margin: 2.188rem 0 0 0;
}

.content__card-info{
	clear: both;
	width: 97%;
	margin: 50px auto;
}

.content__card-info li{
	display: inline-block;
	width: 220px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	text-align: center;
	color: #337ab7;
}


.content__card-info li:hover{
	background: #eee;
	color: #23527c;
}

.content__card-info .content__card-info-item_active{
	background-color:#337ab7;
	color: white;
}

.content__card-info .content__card-info-item_active:hover{
		background-color:#337ab7;
		color: white;
}

.panel .date{
	color: #adafb2;
}

.panel .description{
	float: none;
	color: #5f5f5f;
}

.panel .price{
	color: red;
}

.button-to-table{
	display: block;
	margin: 60px 0;
	color: blue;
	font-size: 20px;
}

.list-main-functions{
	list-style: disc;
	margin: 2rem 0 0 1.9rem;
	font-size: 1.125rem;
	color: #4d5762;
	line-height: 1.72;

}

.list-main-functions_item{
	margin-bottom: 2rem;
}

.list-main-functions_item:last-child{
	margin: 0;
}